
<button (click)="changeDisplayNews()">Get News</button>
<button (click)="changeDisplaySortedNews()">Get Sorted News</button>
<button (click)="changeShowSearchedNews()">Get Searched News</button>
<button (click)="saveNewsToDb()">Save News to Database</button>


<div *ngIf="displayNews">
  <app-all-news [userOption]="userOption"></app-all-news>
</div>

<div *ngIf="displaySortField">
  <div>
    <select (change)="onSelectionChange($event)">
      <option *ngFor="let option of options" [value]="option.value">{{option.label}}</option>
    </select>
    <button (click)="onSubmitDisplaySortedNews()">Submit</button>
    <div *ngIf="displaySortedNews">
    <app-all-news [selectedOption]="selectedOption" [userOption]="userOption"></app-all-news>
    </div>
  </div>
</div>


  <div *ngIf="displaySearchField">
    <input [(ngModel)]="userInput" placeholder="Enter your input">
    <button (click)="onSubmitDisplaySearchedNews()">Submit</button>
    <div *ngIf="displaySearchedNews">
      <app-all-news [keyword]="userInput" [userOption]="userOption"></app-all-news>
    </div>
  </div>

  <div *ngIf="saveToDb">
      <app-all-news [userOption]="userOption"></app-all-news>
  </div>

  



